<h1 class="community-title">{{discussion.title}}</h1>

<div class="basic-discussion">
    <p id="discussion-description">{{discussion.firstPost}}</p>
    {{#if image}}
    <img src="{{discussion.image}}" width="200px" height="200px">
    {{/if}}
    <a href="/community/{{discussion._id}}/edit-discussion">Edit topic</a>
    <a href="/community/{{discussion._id}}/delete">Delete Topic</a>
    <p>{{discussion.createdBy.username}}</p>
</div>


<div class="basic-comments">
    {{#each comments}}
    <p>{{this.text}}</p>
    <hr>
    {{/each}}
    <br>
    <div>
        <form action="/community/{{community.slug}}/discussion/{{discussion._id}}" method="POST" class="select-form">

            <input type="text" name="text" placeholder="Comment" class="basic-input">

            <button type="submit" class="basic-button">Comment</button>
        </form>
    </div>
</div>



<div class="back-button">
    <a href="/community/{{community.slug}}">Back to {{community.name}} community</a>
</div>

{{!-- {{/with}} --}}