<h1 class="community-title">{{discussion.title}}</h1>

<div class="basic-discussion">
    <p id="discussion-description">{{discussion.firstPost}}</p>
    {{#if image}}
    <img src="{{discussion.image}}" width="200px" height="200px">
    {{/if}}

    <h3>{{discussion.createdBy.username}}</h3>
    {{#if createdBy}}
    <button class="basic-button"><a href="/community/{{discussion._id}}/edit-discussion">Edit topic</a></button>
    <button class="basic-button"><a href="/community/{{discussion._id}}/delete">Delete Topic</a></button>
    {{/if}}
</div>

{{#each comments}}
<div class="basic-comments">
    <p>{{this.text}}</p>


</div>
{{/each}}
<div class="basic-form">
    <form action="/community/{{community.slug}}/discussion/{{discussion._id}}" method="POST" class="select-form">

        <input type="text" name="text" placeholder="Comment" class="basic-input">

        <button type="submit" class="basic-button">Comment</button>
    </form>
</div>

<div class="back-button">
    <a href="/community/{{community.slug}}">Back to {{community.name}} community</a>
</div>