<h1 class="community-title">{{discussion.title}}</h1>
<p id="discussion-description">{{discussion.firstPost}}</p>

<a href="/community/{{community.slug}}" class="back-button">Back to {{community.name}} community</a>
{{!-- {{#if isCreator}} --}}
<a href="/community/{{discussion._id}}/edit-discussion">Edit topic</a>
<a href="/community/{{discussion._id}}/delete">Delete Topic</a>
{{!-- {{/if}} --}}

{{!-- {{#with isMember}} --}}
<h3 class="community-title">Leave a comment</h3>

<div class="basic-form">
    <form action="/community/{{community.slug}}/discussion/{{discussion._id}}/comment" method="POST"
        enctype="multipart/form-data" class="select-form">

        <input type="text" name="text" placeholder="Text" class="basic-input">

        <button type="submit" class="basic-button">Comment</button>
    </form>
</div>
{{!-- {{/with}} --}}