<h1 class="community-title">{{discussion.title}}</h1>

<div class="basic-discussion">
    <p id="discussion-description">{{discussion.firstPost}}</p>
    <a href="/community/{{discussion._id}}/edit-discussion">Edit topic</a>
    <a href="/community/{{discussion._id}}/delete">Delete Topic</a>
</div>
{{#each discussion.comments}}
<div class="basic-comments">
    <p>{{this}}</p>
</div>
{{/each}}
<div class="basic-form">
    <form action="/community/{{community.slug}}/discussion/{{discussion._id}}" method="POST" class="select-form">

        <input type="text" name="text" placeholder="Comment" class="basic-input">

        <button type="submit" class="basic-button">Comment</button>
    </form>
</div>

<div class="back-button">
    <a href="/community/{{community.slug}}">Back to {{community.name}} community</a>
</div>

{{!-- {{/with}} --}}