<h1>{{discussion.title}}</h1>
<p>{{discussion.firstPost}}</p>

<a href="/community/{{community.slug}}">Back to {{community.name}} community</a>

<h3>Leave a comment</h3>
<form action="/community/{{community.slug}}/discussion/{{discussion._id}}/comment" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="text" placeholder="Text">

    <button type="submit">Comment</button>
</form>