<h1>Welcome to our {{singleCommunity.name}} Community</h1>
<p>{{singleCommunity.about}}</p>

<div id="discussion-panel">
    <a href="/community/{{singleCommunity.slug}}/new-discussion">Start a conversation</a>
    {{#each singleCommunity.disuccionTopic}}
    {{/each}}
</div>

<div>
    <ul>
        {{#if apidata}}
        {{#each apidata}}
        <li>
            <p><a href="{{this.url}}">{{this.title}}</a>
            <p>Source: {{this.source}}</p>
        </li>
        {{/each}}
        {{/if}}
    </ul>
</div>