<h1 class="community-title">Welcome to our {{singleCommunity.name}} Community</h1>
<p id="about-community">{{singleCommunity.about}}</p>

<a href="/community/{{singleCommunity.slug}}/join" id="join-community-button">Join this community</a>

<div id="community-body">
    <div id="discussion-panel">
        <h2>{{singleCommunity.name}} Discussions</h2>
        <a href="/community/{{singleCommunity.slug}}/new-discussion">Start a conversation</a>
        {{#each discussions}}
        <div class="discussion-block">
            <h4><a href="/community/{{../singleCommunity.slug}}/discussion/{{this._id}}">{{this.title}}</a></h4>
            <p>{{this.firstPost}}</p>
            <img src="{{this.image}}">
        </div>
        {{/each}}
    </div>

    <div id="news-panel">
        <h2>Current {{singleCommunity.name}} News</h2>
        <ul>
            {{#if apidata}}
            {{#each apidata}}
            <li class="news-item">
                <p><a href="{{this.url}}">{{this.title}}</a>
                <p>Source: {{this.source}}</p>
                {{!-- <p>{{this.description}}</p> --}}
            </li>
            {{/each}}
            {{/if}}
        </ul>
    </div>
</div>