{{#with user}}
<img src="{{userImage}}">

<h4>Welcome {{name}} to your profile</h4>

<a href="/profile/edit">Edit your profile</a>
{{#if bio}}
<p>{{bio}}</p>
<p>{{interests}}</p>
<ul>{{community}}</ul>
{{/if}}
{{/with}}