{{#with user}}
<img src="{{userImage}}">

<a href="/profile/edit">Edit your profile</a>
{{#if bio}}
<p>{{name}}</p>
<img src="{{userImage}}">
<p>{{bio}}</p>
<p>{{interests}}</p>

<ul>{{community}}</ul>
{{/if}}
{{/with}}