{{#with user}}

<div id="profile-info">
    <h2 id="user-name">Welcome to your profile, <span>{{name}}</span></h2>
    <div id="edit-profile-links">
        <button class="basic-button"><a href="/profile/edit">Edit your profile</a></button> <button
            class="basic-button"><a href="/profile/delete">Delete Profile</a></button>
    </div>
    {{#if userImage}}
    <img src="{{userImage}}" id="user-image">
    <br>
    {{/if}}
    {{#if bio}}
    <p id="user-bio">{{bio}}</p>
    {{/if}}

    {{#each interests}}
    <a href="/community/{{singleCommunity.slug}}">Communities{{this.name}}</a>
    {{/each}}
    {{/with}}
</div>